# Secrets
.env
# Ignore stack files with sensitive data
infrastructure/Pulumi.*.yaml
# Except the main config
!infrastructure/Pulumi.yaml

# Byte-compiled / optimized / DLL files
*$py.class
__pycache__/

# Coverage directory used by tools like istanbul
coverage
*.lcov

# IDE's
.idea
.vscode
.kdev4
*pycharm-support-libs.zip
http-client.private.env.json

# Unit test / coverage reports
junit.xml
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Node.js dependencies:
node_modules/

# Environments
.venv
venv

# -----------------------------
# Git is unnessesary for build
.git/
.gitattributes
.gitignore
.github/
.gitlab-ci.yml

# Temp files
infrastructure/preview.txt

# Tests and RND
tests/