Authlib>=1.3.2
PyMuPDF
aiohttp
email-validator
fastapi
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-cloud-firestore
google-cloud-logging
google-cloud-pubsub
google-cloud-storage
google-genai
httpx
hypercorn
openai
plotly
pulumi-gcp>=7.0.0,<8.0.0
pulumi>=3.0.0,<4.0.0
pyairtable
pydantic
pydantic-settings
pymongo
pytest
python-dateutil
python-multipart
pytz
streamlit
typer
uvicorn