aiohttp
python-dateutil
fastapi
email-validator
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-cloud-firestore
google-cloud-logging
google-cloud-storage
google-cloud-pubsub
httpx
motor
pydantic
pydantic-settings
pytz
redis
uvicorn
hypercorn
pytest
pulumi>=3.0.0,<4.0.0
pulumi-gcp>=7.0.0,<8.0.0
openai
PyMuPDF
python-multipart
typer
streamlit
Authlib>=1.3.2