aiohttp
python-dateutil
fastapi
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-cloud-firestore
google-cloud-logging
google-cloud-storage
google-cloud-pubsub
httpx
motor
pydantic
pydantic-settings
pytz
redis
uvicorn
pytest
pulumi-gcp
